Web/BirdEye.Web/BirdEye.Web/Service References/CustomerService/CustomerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BirdEye.Common.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BirdEye.Common.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
</xs:schema>